---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import Noticias from "../components/Noticias.astro";
import MisionVision from "../components/MisionVision.astro";
import Concejales from "../components/Concejales.astro";
import Footer from "../components/Footer.astro";
---

<Layout>
  <Header />
  <div class="h-16"></div> 
  <Hero />
  <Noticias />
  <MisionVision />
  <Concejales />
  <Footer />
</Layout>