---
export interface Concejal {
    name: string;
    position: string;
    photoUrl: string;
    slug: string;
    resumen?: string; 
}

export interface Props {
    concejalesList: Concejal[];
}

const { concejalesList } = Astro.props;
---

<section class="container mx-auto px-4 py-8 font-sans">
    
    <div class="grid grid-cols-1 md:grid-cols-2 gap-x-12 gap-y-10 max-w-4xl mx-auto">
        
        {concejalesList.map((concejal) => (
            <div class="flex items-start space-x-6 bg-white p-4 rounded-lg shadow-md border-b-2 border-concejo-verde-principal transform hover:scale-[1.02] transition-transform duration-300">
                
                <div class="flex-shrink-0 pt-1">
                    <img 
                        src={concejal.photoUrl} 
                        alt={`Foto de ${concejal.name}`} 
                        class="w-32 h-32 rounded-full object-cover shadow-lg border-2 border-gray-300"
                    />
                </div>

                <div class="flex-grow space-y-1">
                    <p class="text-sm font-semibold text-concejo-azul-principal">
                        {concejal.position}
                    </p>
                    <h2 class="text-xl font-extrabold text-concejo-negro">
                        {concejal.name}
                    </h2>
                    <p class="text-sm text-gray-700 leading-snug line-clamp-3">
                        {concejal.resumen || "Honorable Concejal trabajando activamente en el Concejo Municipal por la transparencia y el desarrollo del Medio Atrato."}
                    </p>
                </div>
            </div>
        ))}
    </div>
</section>