---
export interface Props {
    objetivosList: string[];
}
const { objetivosList } = Astro.props;
---

<div class="mt-20 max-w-6xl mx-auto font-sans">
    <h2 class="text-3xl font-bold text-center text-concejo-azul-principal mb-8">Nuestros Objetivos Institucionales</h2>
    
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">

        {objetivosList.map((objetivo, index) => (
            <div class="bg-gray-100 p-6 rounded-lg shadow-md space-y-3">
                <h3 class="text-xl font-bold text-concejo-negro">{index + 1}. {objetivo.split(': ')[0]}</h3> 
                <p class="text-gray-700 text-base leading-snug">{objetivo.split(': ')[1] || objetivo}</p>
            </div>
        ))}
    </div>

</div>