---
export interface Props {
    logoPath: string;
    logoAlt: string;
}

const { logoPath, logoAlt } = Astro.props;
---

<div class="flex flex-col items-center md:items-start text-center md:text-left space-y-4 max-w-xs md:max-w-none">
    
    <a href="/">

        <img 
            src={logoPath} 
            alt={logoAlt} 
            width={120} 
            height={120} 
            class="h-20 w-auto" 
        />
    </a>
    
    <p class="text-sm text-gray-600">
        Trabajando por la transparencia y el desarrollo sostenible del Medio Atrato.
    </p>

    <ul class="mt-4 flex justify-start gap-4">
        <li>
            <a href="#" rel="noreferrer" target="_blank" class="text-concejo-azul-principal transition hover:text-concejo-verde-principal">
                <span class="sr-only">Facebook</span>
                <i class="fa-brands fa-facebook fa-xl" style="color: #489690;"></i>
            </a>
        </li>
    </ul>
</div>