---
import Layout from "../../layouts/Layout.astro";
import MarcaHero from '../../components/identidadVisual/MarcaHero.astro';
import MarcaElementos from '../../components/identidadVisual/MarcaElementos.astro';
import MarcaVersiones from '../../components/identidadVisual/MarcaVersiones.astro';
import MarcaUsosRestricciones from '../../components/identidadVisual/MarcaUsosRestricciones.astro';

import { fetchGraphQL } from "../../lib/wp.ts";
import { InformacionGlobal } from "../../lib/queries/global.ts"; 

const WP_BASE_URL = import.meta.env.WORDPRESS_API_URL.replace("/graphql", "");

const data = await fetchGraphQL(InformacionGlobal);
const nodoGlobal = data?.allInformacionGlobal?.edges?.[0]?.node;
const datos = nodoGlobal?.datosGlobales;

const manualUrl = datos?.manualDeIdentidadVisual?.node?.mediaItemUrl;

const title = "Identidad Visual";
const description = "Descubra la identidad visual del Concejo Municipal de Medio Atrato - Manual de marca, colores institucionales y guías de uso";

---

<Layout title={title} description={description}>

    <main class="container mx-auto px-4 py-8 sm:py-12 font-sans">
        
        <MarcaHero manualUrl={manualUrl} />

        <!-- <MarcaElementos /> -->

        <!-- <MarcaVersiones /> -->

        <MarcaUsosRestricciones />

        
    </main>
</Layout>